Web References/clmjmsweb1p/ImageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://www.intellitechcorp.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://www.intellitechcorp.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://www.intellitechcorp.com/">
      <s:element name="GetInmateImage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="strInmateId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strBookingId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="strImageType" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInmateImageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInmateImageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInmateImageSoapIn">
    <wsdl:part name="parameters" element="tns:GetInmateImage" />
  </wsdl:message>
  <wsdl:message name="GetInmateImageSoapOut">
    <wsdl:part name="parameters" element="tns:GetInmateImageResponse" />
  </wsdl:message>
  <wsdl:portType name="ImageServiceSoap">
    <wsdl:operation name="GetInmateImage">
      <wsdl:input message="tns:GetInmateImageSoapIn" />
      <wsdl:output message="tns:GetInmateImageSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ImageServiceSoap" type="tns:ImageServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInmateImage">
      <soap:operation soapAction="http://www.intellitechcorp.com/GetInmateImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ImageServiceSoap12" type="tns:ImageServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInmateImage">
      <soap12:operation soapAction="http://www.intellitechcorp.com/GetInmateImage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ImageService">
    <wsdl:port name="ImageServiceSoap" binding="tns:ImageServiceSoap">
      <soap:address location="http://clmjmsweb1p:90/ImacsImageService/ImageService.asmx" />
    </wsdl:port>
    <wsdl:port name="ImageServiceSoap12" binding="tns:ImageServiceSoap12">
      <soap12:address location="http://clmjmsweb1p:90/ImacsImageService/ImageService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>